/* TYPOGRAPHY */
.display {
  text-align: center;
}

.display h1, p {
  font-family: 'PT Sans', Arial, sans-serif;
}

.display h1 {
  line-height: 1.4;
  letter-spacing: 0px;
  color: #fff;
  text-shadow: 0 0 15px rgb(0 0 0 / 80%);
  font-weight: 700;
  font-size: 1.45rem;
  text-align: center;
}

@media only screen and (min-width: 410px) {
  .display h1 {
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 500px) {
  .display h1 {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 700px) {
  .display h1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .display h1 {
    font-size: 3.5rem;
  }
}

/* CTA BUTTON */
a.g2p-btn {
  padding: 15px 20px;
  font-size: 1.5rem;
  width: 100%;
  height: auto;
  color: #fff;
  font-family: 'PT Sans', Arial, sans-serif;
  cursor: pointer;
  font-weight: 700;
  border: none;
  outline: 3px solid #0078b0;
  outline-offset: -3px;
  -webkit-appearance: none;
  background-color: #0078b0;
  transition: all 250ms ease-in-out;
}
a.g2p-btn:hover {
  color: #fff;
  background-color: #c25700;
  outline-color: #c25700;
  transition: all 250ms ease-in-out;
}
